<mat-toolbar>
  <nav class="navbar navbar-expand-md bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/"
    ><img id="logo" src="./../../../assets/logo.webp" class="desktop" />
    <img id="logo" src="./../../../assets/logofooter.webp" class="phone"
  /></a>
  <button
    class="navbar-toggler"
    mat-mini-fab
    type="button"
    color="primary"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
  <mat-icon >menu</mat-icon>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li >
        <button mat-flat-button color="primary" routerLinkActive="text-dark" routerLink="/"
          >Home </button
        >
      </li>
      <li >
        <button mat-flat-button color="primary" routerLinkActive="text-dark"   routerLink="/about"
          >About </button
        >
      </li>
      <li >
        <button mat-flat-button color="primary" routerLinkActive="text-dark"  routerLink="/contact"
          >Contact Us  </button
        >
      </li>
      <ng-template #buyer>
        <li >
          <button mat-flat-button color="primary" routerLinkActive="text-dark" routerLink="/login">Login</button>
        </li>
      </ng-template>

      <li
        *ngIf="authService.signedIn$ | async as user; else buyer"
        class="nav-item dropdown"
      >
        <button
          class="nav-link dropdown-toggle"
          mat-flat-button color="primary" routerLinkActive="text-dark"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ user.displayName || user.email }}
        </button>
        <div class="dropdown-menu bg-light"  aria-labelledby="navbarDropdown">
          <button class="dropdown-item text-left" mat-button color="primary" [routerLink]="['/user', user.uid]"
            >Dashbord</button
          >
          <div class="dropdown-divider"></div>
          <button class="dropdown-item text-left" mat-button color="primary"(click)="logOut()">Logout</button>
        </div>
      </li>
    </ul>

    <button class="btn btn-outline-danger my-2 my-sm-0" mat-button color="primary" [routerLink]="['/list']">
      Search
    </button>
  </div>
</nav>
</mat-toolbar>
 
 