<div class="m-4">
  <form class="form-group" *ngIf="check()">
    <input
      class="form-control"
      type="text"
      placeholder="Search"
      aria-label="Search"
      #query
      (keyup)="filter(query.value)"
    />
  </form>
</div>

<div class="row row-cols justify-content-center p-0">
  <mat-card
    class="col-md-2 m-3 p-0 text-white card"
    *ngFor="let car of cars"
    [routerLink]="['/car', car.cid]"
  >
    <mat-card-header>
      <mat-card-title>{{ car.model }}</mat-card-title>
      <mat-card-subtitle>{{ car.make }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img class="card-img" src="{{ car.picture }}" alt=".." />
      <div>
        <h2>
          <mat-icon>attach_money</mat-icon>
          {{ car.description.price | currency: " " }}
        </h2>
      </div>
      <div><mat-icon> ev_station</mat-icon> {{ car.description.engine }}</div>
    </mat-card-content>
    <mat-card-actions class="align-items-end">
      <button mat-raised-button [routerLink]="['/car', car.cid]">View</button>
    </mat-card-actions>
  </mat-card>
</div>
